$primary-color: rgb(69, 139, 202);
$secondary-color: rgb(19, 171, 186);
$third-color: rgb(22, 82, 161);
$footer-color: rgb(89, 89, 88);

$primary-color-opacity: rgba(69, 139, 202, 0.8);
$third-color-opacity: rgba(22, 82, 161, 0.8);
$secondary-color-opacity: rgba(19, 171, 186, 0.8);
