$primary-color: #458bca;
$secondary-color: #13abba;
$third-color: #1652a1;
$footer-color: #595958;

$primary-color-opacity: rgba(69, 139, 202, 0.8);
$secondary-color-opacity: rgba(19, 171, 186, 0.8);
$third-color-opacity: rgba(22, 82, 161, 0.8);
