@import "var";

.location-text {
    color: $footer-color;

    text-align: center;
    line-height: 1.5;
    padding: 2rem;
    width: 100%;

}

.map {
    height: 100%;
    width: 100%;
}


.contactform {
    padding: 0rem 3rem;
    display: flex;
    flex-direction: column;

    h3 {
        text-align: center;
        margin: 2rem;
    }

    div {
        padding-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        label {
            text-align: right;
            width: 11rem;
        }


        input {
            width: 40rem;
            background-color: $primary-color-opacity;
            height: 2.5rem;
            border: none;
            margin-left: 1rem;

        }
    }

}

.contactformend {
    padding: 0rem 3rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    div {
        padding-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        button {
            margin-left: 42rem;
        }

        label {
            text-align: right;
            width: 11rem;
        }
    }
}

#subject {
    width: 40rem;
    background-color: $primary-color-opacity;
    height: 5rem;
    border: none;
    margin-left: 1rem;
}

.sub-btn {
    border: 2px solid $third-color;
    background-color: $third-color;
    color: white;
    padding: 0.7rem 2rem;
    cursor: pointer;
    width: 10rem;
}

.sub-btn:hover {
    background-color: white;
    color: $third-color;
    border: 2px solid $third-color;
    transition: .4s;
}


.name .email .phone .subject {
    background-color: $primary-color;
    color: white;
}

.faq-main {
    box-sizing: border-box;
    padding: 4em 4em;
    align-items: center;
    color: white;
    font-size: 0.8em;
    column-count: 2;
    background: linear-gradient(rgba(22, 82, 161, 0.8), rgba(22, 82, 161, 0.8)), url(../img/shutterstock_232951672.jpg) no-repeat top left/cover;

}

.question {
    font-weight: bolder;

}

input[type=text] {
    background-color: $primary-color-opacity;
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding: 0.8em 0.8em;
    margin: .6 0;

}

@media only screen and (max-width: 768px) {
    body {
        .bcg6 {
            height: 30rem;

            .banner {
                padding: 3% 2%;
                bottom: 0%;
                height: 40%;

                h1,
                h3 {
                    width: 100%;
                    font-size: 1.5rem;
                    padding: 1% 0;
                }
            }
        }
    }

    .contactformend {
        div {
            button {
                margin-left: 35rem;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    header {
        &.bcg6 {
            height: 26rem;
            background-size: cover;

            .upper {
                height: 30%;

                h1,
                h3 {
                    width: 100%;
                    font-size: 0.9rem;
                    padding: 1% 0;
                }
            }
        }
    }

    .contactformend {
        div {
            display: flex;
            flex-direction: column;

            label {
                text-align: left;
            }

            button {
                margin-left: 2.5rem;
            }
        }
    }

    .contactform {
        div {
            display: flex;
            flex-direction: column;

            label {
                text-align: left;
                width: 15rem;
            }

            input {
                width: 16rem;
            }
        }
    }

    #subject {
        width: 16rem;
        margin-left: -.4rem;
    }

    .faq-main {
        display: flex;
        flex-direction: column;
    }
}


// @media only screen and (max-width: 425px) {
//     .map {
//         transform: scale(0.8);
//     }

//     .contactform {
//         overflow-x: auto;
//         width: 50%;
//         float: none;
//         justify-content: center;
//         margin-right: 20%;
//     }

//     .contactform>div {
//         margin-right: 1em;
//     }

// }

// @media only screen and (min-width:425px) and (max-width: 768px) {
//     .map {
//         transform: scale(1);
//     }

//     .contactform {
//         margin-right: 20%;

//         div {
//             padding-bottom: 2rem;

//             input {
//                 width: 15rem;
//                 height: 2rem;
//             }

//             label {
//                 width: 15vw;
//             }

//             #subject {
//                 width: 15rem;
//             }
//         }
//     }

//     .contactform>div {
//         margin-top: 1em;
//     }

// }

// @media only screen and (min-width:769px) and (max-width: 1024px) {
//     .map {
//         transform: scale(0.8);
//     }
// }