@import "var";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

li {
	display: inline-block;
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

.logo {
	width: 20%;
}

.flex {
	display: flex;
}

// Header style
header {
	position: relative;

	&.bcg1 {
		background: url("../img/tric\ homepage\ image.jpg") no-repeat top left;
		background-size: 140%;
		height: 65rem;
	}

	&.bcg3 {
		background: url(../img/shutterstock_141854491.jpg) no-repeat center center / cover;
		height: 45rem;
	}

	&.bcg9 {
		background: url(../img/shutterstock_513458401.jpg) no-repeat center center / 95rem;
		height: 45rem;
	}

	&.bcg10 {
		background: url(../img/pelvic-laparoscopy_thumb.jpg) no-repeat top center / cover;
		background: url(../img/pelvic-laparoscopy_thumb.jpg) no-repeat center center / cover;
		height: 45rem;
	}

	&.bcg12 {
		background: url(../img/_8lr5250.jpg) no-repeat center center / cover;
		height: 45rem;
	}

	.banner {
		background-color: rgba(19, 172, 186, 0.8);
		color: #fff;

		text-align: center;
		line-height: 1.5;
		padding: 2rem;
		width: 100%;

		position: absolute;
		bottom: 2rem;

		h1 {
			margin: auto;
			width: 80%;
			border-bottom: 1px solid #fff;
		}
	}

	nav {
		position: relative;
		padding-top: 2rem;

		.login {
			position: absolute;
			top: 0rem;
			right: 2rem;

			li {
				margin: 0 1px;

				a {
					display: inline-block;
					color: #fff;
					padding: 0.3rem 2rem;
				}

				&:first-child {
					background-color: $secondary-color;
				}

				&:last-child {
					background-color: $third-color;
				}
			}
		}

		.logo {
			position: absolute;
			top: 2rem;
			left: 2rem;
		}

		.main-nav {
			position: absolute;
			top: 2rem;
			right: 2rem;

			li {
				padding: 0.5rem;
			}

			a {
				color: $footer-color;

				&:hover {
					border-bottom: 1px solid $footer-color;
				}
			}
		}
	}
}

// End of Header style

// Courses first page style

main {
	width: 75%;
	margin: 2rem auto;

	font-size: small;

	.active-link {
		font-weight: bold;
	}

	a {
		color: $secondary-color;
		font-weight: bold;
	}

	section:first-child {
		h5 {
			font-weight: lighter;
			margin-bottom: 1rem;
		}

		hr {
			margin: 1rem 0;
		}

		.courses-btns {
			justify-content: space-between;
			margin-bottom: 1rem;

			button {
				min-width: 49%;
				height: 3rem;
				cursor: pointer;
			}
		}
	}

	.btn-turq {
		background-color: $secondary-color;
		color: #fff;
		border: 1px solid $secondary-color;
		transition: 0.4s;

		&:hover {
			background-color: #fff;
			color: $secondary-color;
			border: 1px solid $secondary-color;
		}

		&:focus {
			border: 1px solid $secondary-color;
		}
	}

	section.calendar {
		background-color: #dddddd;
		padding: 0.7rem;

		ul {
			justify-content: space-between;
		}

		table {
			width: 100%;
			margin-top: 2rem;
			background-color: #fff;
			border: 5px solid #ccc;
			border-collapse: collapse;

			th {
				background-color: #777777;
				width: 5rem;
				padding: 0.2rem;
			}

			td {
				width: 15rem;
				height: 5rem;
				padding: 0.2rem;
				border: 1px solid #ddd;
			}

			tr+tr {
				text-align: left;

				th {
					background-color: #ececec;
				}
			}

			.last-month {
				th {
					opacity: 0.2;

					&:last-child {
						opacity: 1;
					}
				}
			}

			.next-month {
				th {
					opacity: 0.2;

					&:first-child,
					&:nth-child(2) {
						opacity: 1;
					}
				}

				td {
					opacity: 0.2;
				}
			}
		}
	}

	// End of first courses page style

	// courses-list style
	section.list {
		.list-calendar {
			background-color: #dddddd;
			padding: 0.5rem;
			width: 20%;
			margin: 2rem auto;

			justify-content: center;
		}

		.list-items {
			flex-direction: column;

			article {
				width: 100%;
				border-bottom: 1px solid $footer-color;
				padding: 1rem 0;
				justify-content: space-between;

				img {
					width: 45%;
					height: 12rem;
				}

				.cropped-img-1 {
					width: 45%;
					background: url("../img/overstitch-bariatric.jpg") no-repeat center center / cover;
				}

				.cropped-img-2 {
					width: 45%;
					background: url("../img/4×1-e14459430461271.png") no-repeat center center / 100%;
				}

				.list-text {
					width: 50%;
					flex-direction: column;
					justify-content: space-between;

					h3 {
						color: $primary-color;
					}

					h3,
					h5,
					span {
						margin: 0.5rem 0;
					}

					.read-more {
						text-align: right;

						a {
							color: #000;
							font-weight: lighter;

							&:hover {
								color: $secondary-color;
								font-weight: bold;
							}
						}

						i {
							color: $secondary-color;
							border: 1px solid $secondary-color;
							padding: 0.1rem 0.3rem;
						}
					}
				}
			}
		}
	}

	// End of courses-list style

	// Small_implant, laparoscopy & gateway style
	.small-implant {
		justify-content: space-between;
		text-align: justify;

		ul {
			margin-bottom: 1rem;

			li {
				display: block;
			}
		}

		&>div {
			width: 45%;

			h4 {
				color: $third-color;
			}

			p {
				margin-bottom: 1rem;
			}

			img {
				width: 7rem;
			}
		}

		.doc-pic {
			margin-right: 4rem;
		}

		.doc-desc {
			h4 {
				color: #000;
			}
		}

		.doc-1 {
			margin-top: 1rem;
		}
	}

	.register-course {
		text-align: right;

		span {
			padding-top: .5rem;
			text-align: center;
			height: 2.2rem;
			width: 6rem;
			display: inline-block;
		}
	}

	// End small_implant, laparoscopy & gateway style
}

// Media queries

@media screen and (max-width: 1279px) {

	// Laparoscopy.html
	main {
		section:first-child .courses-btns {
			flex-direction: column;

			button {
				margin-bottom: 1rem;
			}
		}

		.small-implant {
			flex-direction: column;
			align-items: center;

			.left-col,
			.right-col {
				width: 70%;
			}
		}

		// courses-list
		section.list {
			.list-calendar {
				width: 50%;
			}

			.list-items {
				width: 100%;

				article {
					flex-direction: column;

					.list-text {
						width: 100%;
					}

					img {
						width: 100%;
					}

					.cropped-img-1,
					.cropped-img-2 {
						height: 10rem;
						width: 100%;
					}
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		main {
			.small-implant {

				.doc-1,
				.doc-2,
				.doc-3 {
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}

				.doc-pic {
					width: auto;
					margin: 1rem;
				}
			}

			.table-overflow {
				overflow: auto;
			}
		}

		.bcg3,
		.bcg9,
		.bcg10 {
			height: 61vh;

			.banner {
				padding: 3% 2%;
				bottom: 2%;

				h1,
				h3 {
					width: 100%;
					font-size: 1.5rem;
					padding: 1% 0;
				}
			}
		}
	}
}

@media screen and (max-width: 320px) {
	header {

		&.bcg3,
		&.bcg9,
		&.bcg10,
		&.bcg12 {
			height: 26rem;


			.banner {
				bottom: 0%;

				h1,
				h3 {
					width: 100%;
					font-size: 0.9rem;
					padding: 1% 0;
				}
			}
		}

		&.bcg9 {
			background-size: 120%;
		}

		&.bcg12 {
			background-size: 120%;
		}
	}

	.small-implant-main {
		width: 100%;

		.register-course {
			text-align: center;
		}
	}

}