@import "var";

.text {
    margin: 2rem 7rem;

    p {
        column-count: 2;
        column-gap: 2rem;
        text-align: justify;
    }
}

@media (max-width:425px) {

    .text {
        margin: 2rem;

        p {
            column-count: 1;
            text-align: justify;
        }

    }
}