@import "var";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  display: inline-block;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.logo {
  width: 20%;
}

.flex {
  display: flex;
}

// Header style
header {
  position: relative;

  &.bcg {
    background: url("../img/tric_homepage_image.jpg") no-repeat top left/ 140%;
    height: 45rem;
  }

  &.bcg2 {
    background: url(../img/shutterstock_588870536.jpg) no-repeat top left / cover;
    height: 64rem;
    transform: scale(-1);
    transform: scaleX(-1);
  }

  &.bcg3 {
    background: url(../img/shutterstock_141854491.jpg) center center / cover;
    height: 45rem;

  }

  &.bcg5 {
    background: url(../img/shutterstock_744705484.jpg) no-repeat top center / cover;
    height: 45rem;
  }

  &.bcg6 {
    background: url(../img/44rtf.jpg) top left / cover;
    height: 50rem;
  }

  &.bcg7 {
    background: url(../img/shutterstock_385477789.jpg) no-repeat top left / 140%;
    height: 45rem;
  }

  &.bcg-media-article {
    background: url(../img/shutterstock_244312780.jpg);
  }

  &.bcg-membership {
    background: url(../img/shutterstock_307777268.jpg);
  }
}

.banner {

  background-color: $primary-color-opacity;
  color: #fff;

  text-align: center;
  line-height: 1.5;
  padding: 2rem;
  width: 100%;
  position: absolute;
  bottom: 2rem;

  h1 {
    margin: auto;
    width: 80%;
    border-bottom: 1px solid #fff;
  }
}

nav {
  position: relative;
  padding-top: 2rem;

  .login {
    position: absolute;
    top: 0rem;
    right: 2rem;

    li {
      margin: 0 1px;

      a {
        display: inline-block;
        color: #fff;
        padding: 0.3rem 2rem;
      }

      &:first-child {
        background-color: $secondary-color;
      }

      &:last-child {
        background-color: $third-color;
      }
    }
  }

  .logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  .main-nav {
    position: absolute;
    top: 2rem;
    right: 2rem;

    li {
      padding: 0.5rem;
    }

    a {
      color: $footer-color;

      &:hover {
        border-bottom: 1px solid $footer-color;
      }
    }
  }
}

// End of Header style

// Footer style
footer {
  margin-top: 1rem;

  div:first-child {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
  }

  .footer-1 {
    font-weight: bold;
    color: $secondary-color;
  }

  .footer-2 {
    font-weight: bold;
  }

  .info {
    justify-content: space-between;
    align-items: center;
    background-color: $footer-color;
    color: #fff;
    font-size: small;
    padding: 1rem;

    li {
      padding: .5rem 1rem;

      .socials {
        font-size: 1.3rem;
      }
    }
  }
}

// End of Footer style

@media screen and (max-width: 425px) {

  footer {

    div:first-child {
      font-size: 0.8rem;
    }
  }

  .info {
    flex-direction: column-reverse;


    .flex {
      margin-bottom: 1rem;
      justify-content: space-evenly;
    }

    ul:last-child {
      flex-direction: column;
      align-items: center;
    }

  }
}

#menuToggle {
  display: none;
}

@media screen and (max-width: 1279px) {

  // Laparoscopy.html
  main {
    section:first-child .courses-btns {
      flex-direction: column;

      button {
        margin-bottom: 1rem;
      }
    }

    .small-implant {
      flex-direction: column;
      align-items: center;

      .left-col,
      .right-col {
        width: 70%;
      }
    }

    // courses-list
    section.list {
      .list-calendar {
        width: 50%;
      }

      .list-items {
        width: 100%;

        article {
          flex-direction: column;

          .list-text {
            width: 100%;
          }

          img {
            width: 100%;
          }

          .cropped-img-1,
          .cropped-img-2 {
            height: 10rem;
            width: 100%;
          }
        }
      }
    }
  }

  // Burger menu
  header nav {
    .main-nav {
      display: none;
    }

    #menuToggle {
      display: block;
      position: absolute;
      top: 3rem;
      right: 2rem;
      z-index: 1;
      user-select: none;
    }

    #menuToggle a {
      text-decoration: none;
      color: $footer-color;

      transition: color 0.3s ease;
    }

    #menuToggle a:hover,
    #menuToggle a:active {
      color: $primary-color;
      text-decoration: underline;
    }

    #menuToggle input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -0.3rem;
      right: -0.2rem;

      cursor: pointer;

      opacity: 0;
      /* hide this */
      z-index: 2;
      /* and place it over the hamburger */

      -webkit-touch-callout: none;
    }

    /*
	  * Just a quick hamburger
	  */
    #menuToggle span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;

      background: $secondary-color;
      border-radius: 3px;

      z-index: 1;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    #menuToggle span:first-child {
      transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }

    /* 
	  * Transform all the slices of hamburger
	  * into a crossmark.
	  */
    #menuToggle input:checked~span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }

    /*
	  * But let's hide the middle one.
	  */
    #menuToggle input:checked~span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked~span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
      position: absolute;
      width: 300px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      list-style-type: none;

      background-color: rgba(255, 255, 255, 0.76);

      transform-origin: 0% 0%;
      transform: translate(100%, 0);

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

      right: -6rem;
    }

    #menu li {
      padding: 10px 0;
      font-size: 1.1rem;
    }

    /*
	  * And let's slide it in from the left
	  */
    #menuToggle input:checked~ul {
      transform: none;
    }
  }
}



@media (min-width:426px) and (max-width: 768px) {

  footer {

    div:first-child {
      font-size: 1rem;
    }
  }

  .info {
    flex-direction: column-reverse;

    .flex {
      margin-bottom: 1rem;
      justify-content: space-evenly;
    }
  }

}