@import 'var';

body {
    width: 100vw;

    .bcg-media-article {
        height: 43.4vh;
    }

    .banner {
        padding: 5px 1%;
        bottom: 0%;

        h1 {
            font-size: 0.8rem;
        }
    }

    .container {
        justify-content: center;
        padding: 0;
        width: 100%;

        .article-content {
            width: 90%;
            column-count: 1;
            margin: 0 auto;
            padding: 10px 0;
        }

        .article-pictures {
            margin: 0 auto;
            display: block;
            width: 80%;
            padding: 0;

            .image1,
            .image2,
            .image3 {
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                text-align: center;
            }

            img {
                object-fit: cover;
                width: 300px;
                height: 100%;
            }

            .image1 {
                img {
                    object-position: 35%;
                }
            }

            .image2 {
                img {
                    object-position: 35%;
                }
            }

            .image3 {
                img {
                    object-position: 35%;
                }
            }
        }
    }
}