@import 'var';

header {
    position: relative;

    // Change class name and URL for each page
    &.bcg3 {
        background: url(../img/shutterstock_141854491.jpg) center center / cover;
        height: 40rem;
    }