@import 'var';

:root {
    --gray-color: rgb(94, 90, 90);
    --light-gray: rgb(172, 166, 166);
}


body {

    // Header with banner
    .bcg-media-article {
        height: 50rem;
        background-size: cover;
        background-repeat: no-repeat;

        .banner {

            h1 {
                margin: auto;
                width: 80%;
                border-bottom: 0px;
                font-size: 2rem;
                line-height: 100%;
            }
        }
    }

    // Contains everything between header and footer
    .container {

        // Article text
        .article-content {
            padding: 35px;
            width: 80%;
            margin: 0 auto;
            text-align: justify;
            line-height: 120%;
            color: var(--gray-color);
            column-count: 2;
            column-gap: 35px;

            p {
                font-size: 0.9rem;
                line-height: 1.3;
            }
        }

        // Article pictures
        .article-pictures {
            padding: 3%;
            width: 100vw;
            display: flex;
            justify-content: space-around;
            margin-top: 0;
            padding-top: 0;

            .image1,
            .image2,
            .image3 {
                width: 25vw;
                height: 10.5rem;
                overflow: hidden;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            .image1 {
                img {
                    object-position: 35%;
                }
            }

            .image2 {
                img {
                    object-position: 35%;
                }
            }

            .image3 {
                img {
                    object-position: 35%;
                }
            }
        }
    }
}

// Media query for smartphones over 321px and tablets till 768px
@media screen and (max-width: 768px) {
    .bcg-media-article {
        height: 30rem;

        .banner {
            padding: 3% 2%;
            bottom: 9%;

            h1 {
                width: 100%;
                font-size: 1.5rem;
                padding: 1% 0;
            }
        }
    }

    .container {
        justify-content: center;
        padding: 0;
        width: 100%;

        .article-content {
            width: 90%;
            column-count: 1;
            margin: 0 auto;
            padding: 10px 0;
        }

        .article-pictures {
            margin: 0 auto;
            display: block;
            width: 80%;
            padding: 0;

            .image1,
            .image2,
            .image3 {
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                text-align: center;
            }

            img {
                object-fit: cover;
                width: 300px;
                height: 100%;
            }

            .image1 {
                img {
                    object-position: 35%;
                }
            }

            .image2 {
                img {
                    object-position: 35%;
                }
            }

            .image3 {
                img {
                    object-position: 35%;
                }
            }
        }
    }
}

// Media query for very small smartphones, till 320px
@media only screen and (max-width: 320px) {
    header {
        &.bcg-media-article {
            height: 30rem;
            background-size: 100%;

            .banner {
                bottom: 36%;

                h1 {
                    width: 100%;
                    font-size: 0.9rem;
                    padding: 1% 0;
                }
            }
        }
    }

    .container {
        .article-content {
            display: flex;
            flex-direction: column;
        }

        .article-pictures {
            display: flex;
            flex-direction: column;
        }
    }
}