@import 'var';

body {

    h1 {
        font-size: 1rem;
        line-height: 200%;
        font-weight: lighter;
    }

    h3 {
        font-size: 0.8rem;
        line-height: 250%;
        font-weight: lighter;
    }


    .bcg-membership {
        height: 20rem;
        background-size: 100vw;
        background-repeat: no-repeat;

        .banner {
            height: 20%;
            bottom: 5%;
            padding: 0;
        }
    }


    .content {
        padding-left: 20%;
        padding-right: 30%;
        padding-top: 2%;
        font-size: 0.6rem;

        p {
            margin-bottom: 5%;
            margin-top: 5%;
        }

        li {
            display: block;

            span {
                color: $secondary-color;
            }
        }
    }
}