@import 'var';

body {
    .banner {
        background-color: $secondary-color-opacity;
    }


    .content {
        padding-left: 20%;
        padding-right: 30%;
        padding-top: 2%;
        font-size: 1rem;

        p {
            margin-bottom: 5%;
            margin-top: 5%;
        }

        li {
            display: block;

            span {
                color: $secondary-color;
                font-weight: bolder;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        .bcg-membership {
            height: 65vh;
        }

        .banner {
            padding: 3% 2%;

            h1,
            h3 {
                width: 100%;
                font-size: 1.5rem;
                padding: 1% 0;
                line-height: normal;
                font-weight: bold;
            }
        }

        .content {
            width: 100vw;
            font-size: 15px;
            padding: 6%;
            text-align: left;
        }
    }

}

@media screen and (max-width: 320px) {
    header {
        &.bcg-membership {
            height: 26rem;
            background-size: cover;

            .banner {

                h1,
                h3 {
                    width: 100%;
                    font-size: 0.9rem;
                    padding: 1% 0;
                }
            }
        }
    }
}