* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

li {
    display: inline-block;
    list-style: none
}

a {
    text-decoration: none
}

.logo {
    width: 20%
}

.flex {
    display: flex
}

header {
    position: relative
}

header.bcg3 {
    background: url(../img/shutterstock_141854491.jpg) center center/cover;
    height: 40rem
}

header .banner {
    background-color: rgba(19, 172, 186, 0.8);
    color: #fff;
    text-align: center;
    line-height: 1.5;
    padding: 2rem;
    width: 100%;
    justify-content: flex-end;
    align-self: center;
    position: absolute;
    bottom: 2rem
}

header .banner h1 {
    margin: auto;
    width: 80%;
    border-bottom: 1px solid #fff
}

header nav .login {
    position: absolute;
    top: 0rem;
    right: 2rem
}

header nav .logo {
    position: absolute;
    top: 2rem;
    left: 2rem
}

header nav .main-nav {
    position: fixed;
    top: 2rem;
    right: 2rem
}

header nav li {
    padding: 0 0.5rem
}